<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resolver Incidente</title>

<link th:href="@{/Css/estilo.css}" rel="stylesheet" />

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

</head>

<body bgcolor=#DBDFE0>
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!--   
          <a href="principal.html" style="position: relative;
  		right: 100px;">Atrás</a>
  		-->
			<h2 class="active">Resolver el Incidente</h2>

			<!-- Icon -->
			<div class="fadeIn first">
				<!-- <img src="src/main/resources/static/image/imagen.png" alt=""> -->
				
				<!-- <img th:src="@{/resources/image/imagen.png}" /> -->
				
				<!-- <img src="../static/image/imagen.jpg"  th:src="@{image/imagen.jpg}"/> -->
			</div>

			<!-- Form -->
			<form action="#" th:action="@{/incidentes/addincidentes}"
				th:object="${incidentes}"   method="post">

				<fieldset>

					<table>

						<tr>
							<input type="hidden" th:field="*{idInci}">
							</tr>

						<tr>
							<td><input  type="text" onKeyPress="return soloNumeros(event)"  placeholder="Documento" id="doc"  name="doc" class="fadeIn second"
								th:field="*{docInci}" th:value="${docInci}" required title="Utiliza el formato adecuado"></br></td> 								
						</tr>
						
						<tr>
							<td><input type="text" placeholder=" Nombre" id="nom" name="name"
								th:field="*{nombreInci}" th:value="${nombreInci}" class="correo"></br>
							</td>
							
						</tr>
						
						<tr>
<!-- 						<input type="text" id="nom" name="name" placeholder=" Tipo de problema" disabled="" /></br>
 -->       
							<!-- <input type="text" id="nom" name="name" placeholder=" Tipo de problema" >  -->
							<td><input type="text" id="nom" name="name" placeholder=" Tipo de Problema" disabled="" > 
							<select id="tipo" th:field="*{tipoInci}">
									<option th:value="0" disabled>Seleccionar opción</option>
									<option th:value="Red">problema de red</option>
									<option th:value="Infraestructura">problema
										infraestructura</option>
									<option th:value="Interno">problema interno</option>

							</select></br></br></td>

						
						</tr>
						

						<tr>
							<td><input class="tel" type="text" id="doc" name="name"
								placeholder="Telefono" th:field="*{telefonoInci}"
								th:value="${telefonoInci}" onKeyPress="return soloNumeros(event)" maxlength="10" /></td>
															
						</tr>

					
						<tr>
							<td><input type="email" id="correo" class="fadeIn third"
								name="correo" placeholder="Email" th:field="*{emailInci}"
								th:value="${emailInci}" required></td>
						</tr>
						
						<tr>

							<td><textarea id="descripcion" rows="5" name="message"
									placeholder="ingrese descripción" th:field="*{descripcionInci}"
									th:value="${descripcionInci}" style="width: 300px;"></textarea>
																		
							</td>
						</tr>
						
						<tr>
<!-- 						<input type="text" id="nom" name="name" placeholder=" Tipo de problema" disabled="" /></br>
 -->       
                            
                            <tr>
<!-- 						<input type="text" id="nom" name="name" placeholder=" Tipo de problema" disabled="" ></br>
 -->       
							<!-- <input type="text" id="nom" name="name" placeholder=" Tipo de problema" >  -->
							<td><input type="text" id="nom" name="name" placeholder="Estado del Incidente" disabled=""> 
							<select id="tipo" th:field="*{estadoInci}">
									<option th:value="0">Seleccionar opción</option>
									<!-- <option th:value="Reportado">Reportado</option>
									<option th:value="Escalonado">Escalonado</option> -->
									<option th:value="Resuelto">Resuelto</option>

							</select></br></br></td>

						
			
							
				<!-- 				<div class="form-group row">
				<label class="col-md-2" for="ciudad">Ciudad:</label> 
				<select th:field="*{ciudad}" class="form-control form-control-sm col-md-6" id="ciudad"> 
					<option th:each="ciudad:${ciudades}"
						th:value="${ciudad.id}"
						th:text="${ciudad.ciudad}"		
					/>					
				</select>
			</div>	 -->
						</tr>
						
			
												
						<tr>
							<td><input type="submit" class="fadeIn fourth"
								value="Reportar" accesskey="f2"></br></td>
						</tr>

					</table>
				</fieldset>

    </form>
    
   
    
 <a href="#" th:href="@{/incidentes/listadoincidentestecnico}">
			<button class="fadeIn fourth" accesskey="f2" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Volver </button>
 
		</a>
         	
		</div>
	</div>


	<script src="/js/script.js"></script>
</body>
</html>